.footer {
    background-color: $black;
    padding: 80px 0px;

    h3 {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        color: $white;


    }

    &__logo {
        margin-top: 70px;
    }

    // .footer__location

    &__location {



        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 18px;
        }

        // .footer__location_item-icon

        &_item-icon {
            svg {
                width: 24px;
                height: 24px;
                margin-right: 20px;
            }
        }

        // .footer__location_item-text

        &_item-text {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.1;
            color: $white;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    // .footer__menu

    &__menu {
        display: flex;
        align-items: center;
        flex-direction: column;

        ul {
            li {
                list-style: none;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.1;
                margin-bottom: 34px;

            }
        }

        a {
            text-decoration: none;
            color: $white;
        }
    }

    // .footer__contacts

    &__contacts {

        // .footer__contacts_item

        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 17px;
        }

        // .footer__contacts_item-icon

        &_item-icon {
            svg {
                width: 26px;
                height: 26px;
                margin-right: 16px;
            }

        }

        // .footer__contacts_item-text

        &_item-text {
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    // .footer__follow

    &__follow {
        margin-top: 40px;
        // .footer__follow_item

        &_item {
            display: flex;
        }

        // .footer__follow_item-icon

        &_item-icon {
            svg {
                width: 24px;
                height: 24px;
                margin-right: 20px;
            }
        }
    }
}