.header {
    padding: 18px 0px;

    &__logo {}

    // .header__menu

    &__menu {
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: space-between;

            li {
                list-style: none;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.2;


            }
        }

        a {
            text-decoration: none;
            color: $red;
        }
    }

    // .header__items

    &__items {

        display: flex;
        align-items: center;
        justify-content: end;

        &_icon {
            position: relative;
            margin-right: 20px;

            @media screen and (max-width: 1199px) {
                margin-right: 10px;
            }

            svg {

                width: 29px;
                height: 24px;
            }
        }

        button {
            padding: 15px 45px;
            margin-left: 20px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
            color: $white;
            border: none;
            background-color: $red;

            @media screen and (max-width: 1199px) {
                margin-left: 10px;

                padding: 15px 25px;
            }
        }
    }

    &__calc {
        position: absolute;
        left: -5px;
        top: -5px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 500;
        line-height: 1.1;
    }
}