<footer class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-3">
                <div class="footer__logo">
                    <a href=""> <img src="img/logo2.png" alt=""></a>
                </div>
            </div>
            <div class="col-3">
                <div class="footer__location">
                    <h3>location</h3>
                    <div class="footer__location_item">
                        <div class="footer__location_item-icon">
                            <svg>
                                <use href="#local"></use>
                            </svg>
                        </div>
                        <div class="footer__location_item-text">
                            <a href=""> Wisconsin Ave, Suite 700
                                Chevy Chase, Maryland 20815</a>
                        </div>
                    </div>
                    <div class="footer__location_item">
                        <div class="footer__location_item-icon">
                            <svg>
                                <use href="#local"></use>
                            </svg>
                        </div>
                        <div class="footer__location_item-text">
                            <a href=""> Wisconsin Ave, Suite 700
                                Chevy Chase, Maryland 20815</a>
                        </div>
                    </div>
                    <div class="footer__location_item">
                        <div class="footer__location_item-icon">
                            <svg>
                                <use href="#local"></use>
                            </svg>
                        </div>
                        <div class="footer__location_item-text">
                            <a href=""> Wisconsin Ave, Suite 700
                                Chevy Chase, Maryland 20815 </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <nav class="footer__menu">
                    <ul>
                        <li><a href="">Каталог</a></li>
                        <li><a href="">Про нас</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Контакти</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-3">
                <div class="footer__contacts">
                    <h3>Contact Us</h3>
                    <div class="footer__contacts_item">
                        <div class="footer__contacts_item-icon">
                            <svg>
                                <use href="#email"></use>
                            </svg>
                        </div>
                        <div class="footer__contacts_item-text">
                            <a href="">logo@figma.com</a>
                        </div>
                    </div>
                    <div class="footer__contacts_item">
                        <div class="footer__contacts_item-icon">
                            <svg>
                                <use href="#phone"></use>
                            </svg>
                        </div>
                        <div class="footer__contacts_item-text">
                            <a href="">+3800065628</a>
                        </div>
                    </div>
                </div>
                <div class="footer__follow">
                    <h3>Follow us</h3>
                    <div class="footer__follow_item">
                        <div class="footer__follow_item-icon">
                            <svg>
                                <a href="">
                                    <use href="#fb"></use>
                                </a>
                            </svg>
                        </div>

                        <div class="footer__follow_item-icon">
                            <svg>
                                <a href="">
                                    <use href="#inst"></use>
                                </a>
                            </svg>
                        </div>

                        <div class="footer__follow_item-icon">
                            <svg>
                                <a href="">
                                    <use href="#tel"></use>
                                </a>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>